.index-0 {
    background: url("/img/head1.jpg");
    background-size: 100%;
    position: absolute;
    top: 0;
    width: 1200px;
    height: 120px;
    text-align: center;
}

.index-1 {
    position: absolute;
    top: 120px;
    width: 1200px;
    height: 100px;
}

.index-1-left {
    display: block;
    float: left;
    width: 1070px;
    height: 100px;
    position: absolute;
    left: 0;
}

.index-1-right {
    display: block;
    float: left;
    width: 130px;
    height: 100px;
    position: absolute;
    right: 0;
}

.index-2 {
    position: absolute;
    top: 240px;
    width: 1200px;
}

.index-3 {
    position: absolute;
    top: 120px;
    width: 1200px;
}

/*
每一行
 */
.line {
    width: 1070px;
    height: 50px;
}

.line2 {
    width: 1200px;
    height: 50px;
}

.line3 {
    width: 1200px;
    height: 100px;
}


/*
文本框
 */
.text {
    display: block;
    float: left;
    background-color: #8eb4e3;
    border: 5px double #2b2b2b;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.column1 {
    display: block;
    float: left;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: auto;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.column2 {
    display: block;
    float: left;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 230px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.but {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #8eb4e3;
    border:2px;
    width: 70px;
    height: 50px;
    line-height: 50px;
    color: #0b1045;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.but:hover {
    opacity: 0.9;
}


table {
    position: absolute;
    left: 0;
    border: 5px #CCCCCC solid;
    width: 1200px;
}

td, th {
    font-size: 18px;
    width: 150px;
    height: 50px;
    border: #CCCCCC 2px solid;
    text-align: center;
}

th{
    background: #8eb4e3;
}